<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qimu.jujiao.mapper.ChatMapper">

    <resultMap id="BaseResultMap" type="com.qimu.jujiao.model.entity.Chat">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="fromId" column="fromId" jdbcType="BIGINT"/>
        <result property="teamId" column="teamId" jdbcType="BIGINT"/>
        <result property="toId" column="toId" jdbcType="BIGINT"/>
        <result property="text" column="text" jdbcType="VARCHAR"/>
        <result property="chatType" column="chatType" jdbcType="TINYINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,fromId,toId,teamId,
        text,chatType,createTime,
        updateTime
    </sql>
</mapper>
